* {
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./images/webb-dark.png);
    color: gold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    /* margin-top: 10vh; */
}

#new-game {
    background-color: transparent;
    color: gold;
    padding: 20px;
    border: 3px solid gold;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s;
}

#new-game:hover {
    box-shadow: 0px 0px 10px gold;
    transform: scale(1.1);
}
.score {
    display: flex;
    justify-content: center;
    gap: 10vw
}
.selections {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3vw;
}
.selections img {
    max-width: 20vw;
    max-height: 20vh;
    
}

.selections button {
    border-radius: 50px;
    transition: 0.4s;

}

.selections button:hover {
    transform: scale(1.1) rotate(15deg);
    box-shadow: 0px 0px 10px gold;

}

footer, header {
    width: 100vw;
    background-color: black;
    max-height: 10vh;
}


footer {
    position: absolute;
    bottom: 0;
}